:root {
  --darkest-purple: #110115;
  --dark-purple: #23092e;
  --purple: #340552;
  --light-purple: #611fa3;
  --lightest-purple: #6e6094;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: white;
}

.header {
  font-size: 16px;
  padding: 24px;

  display: flex;
  justify-content: flex-start;
}

/* GLOW EFFECT */

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px var(--lightest-purple), 0 0 20px var(--darkest-purple),
      0 0 30px var(--darkest-purple), 0 0 40px var(--darkest-purple),
      0 0 50px var(--light-purple), 0 0 60px var(--light-purple),
      0 0 70px var(--light-purple);
  }
  to {
    text-shadow: 0 0 20px var(--lightest-purple),
      0 0 30px var(--lightest-purple), 0 0 40px var(--lightest-purple),
      0 0 50px var(--lightest-purple), 0 0 60px var(--lightest-purple),
      0 0 70px var(--lightest-purple), 0 0 80px var(--lightest-purple);
  }
}
/* NAVIGATION */

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  background-color: var(--dark-purple);
}

.nav--list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav--list-item {
  padding: 0 12px;
  font-size: 24px;
}

.nav--list-link {
  text-decoration: none;
  color: white;
}

.nav--list-link:hover {
  color: var(--light-purple);
  transition: 0.5s;
}
/* INTRODUCTION */

.intro--img {
  position: fixed;
  z-index: -99;
  object-fit: cover;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.intro--info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;

  height: 100vh;
  width: 100vw;

  color: white;
}

.intro--head {
  font-size: 72px;
  letter-spacing: 8px;
}

.intro--para {
  margin: 24px;
  font-size: 32px;
  letter-spacing: 4px;
}

.intro--icon-list {
  display: flex;
  list-style: none;
}

.intro--icon-list--item {
  margin: 0 12px;

  color: white;
  font-size: 32px;
}

.intro--button {
  margin: 48px;

  height: auto;
  width: auto;

  background-color: transparent;
  border: none;

  color: white;
  font-size: 24px;
}

.intro--button:hover {
  cursor: pointer;
}

/* ABOUT ME SECTION */

#about-me {
  color: white;

  position: relative;
  top: 100vh;

  height: auto;

  padding: 48px;

  background: linear-gradient(
    to bottom right,
    var(--darkest-purple),
    var(--purple),
    var(--light-purple)
  );
}

.about-me--container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 100%;
}

.about-me--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 24px;
}

.about-me--head {
  margin: 12px 0;

  font-size: 32px;
}

.about-me--para {
  margin: 12px 0;
  max-width: 600px;

  text-align: center;
  font-size: 24px;
}

.about-me--img {
  height: 300px;
  width: auto;

  margin: 24px;
  border: 3px solid var(--light-purple);
  border-radius: 5px;
}

.about-me--download {
  margin: 12px 0;
  font-size: 20px;
}

.about-me--download-link {
  color: white;
  font-weight: 500;
}

/* TECHNOLOGY STACK */

#tech-stack {
  color: white;

  position: relative;
  top: 100vh;
  width: auto;

  padding: 48px;

  background: linear-gradient(
    to bottom left,
    var(--light-purple),
    var(--purple),
    var(--dark-purple)
  );
}

.tech-stack--section {
  display: flex;
  padding: 48px;
}

.tech-stack--section-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  flex-basis: 50%;
}

.tech-stack--para {
  max-width: 625px;
  font-size: 1.1vw;

  margin: 24px;
}

.tech-stack--section-imgcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.tech-stack--section-img-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 24px;
}

.tech-stack--img {
  height: 6.5vw;
  width: 6.5vw;

  padding: 8px;
}

/* PROJECTS */
#projects {
  color: white;

  position: relative;
  top: 100vh;

  height: 100%;
  width: 100%;

  padding: 48px;

  background: linear-gradient(
    to top left,
    var(--light-purple),
    var(--purple),
    var(--dark-purple)
  );
}

.projects--container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.projects--project {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 24px;

  border: 1px solid white;
  border-radius: 5px;

  max-width: 650px;
}

.projects--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects--head {
  margin: 12px;
}

.pojects--para {
  margin: 12px;
  max-width: 450px;
  text-align: center;
}

.projects-btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 8px;
  cursor: pointer;
}

.projects--link {
  color: white;
  text-decoration: none;

  background-color: transparent;
}

.view {
  border: 1px solid white;
  color: white;
}

.code {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.view:hover,
.code:hover {
  background-color: white;
  color: var(--light-purple);
  transition: 0.5s;
}

.projects--img {
  height: 250px;
  width: 350px;

  margin: 24px;

  border-radius: 5px;
}

/* CONTACT */

#contact {
  color: white;

  position: relative;
  top: 100vh;

  height: auto;
  width: auto;

  padding: 48px;

  background: linear-gradient(
    to bottom left,
    var(--light-purple),
    var(--purple),
    var(--dark-purple)
  );
}

.contact--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact--form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 24px;
}

.contact--head {
  font-size: 32px;
  padding: 8px;
}

.contact--para {
  font-size: 22px;
  padding: 8px;
  text-align: center;

  max-width: 700px;
}

.contact--fieldset {
  width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;
}

.contact--label {
  width: 80%;
  padding: 24px;
}

.contact--input {
  width: 100%;

  padding: 8px;
  margin-top: 8px;

  border: none;
  border-radius: 5px;
}

.contact--input:focus {
  border: none;
}

.contact--textarea {
  width: 100%;
  height: 100px;

  padding: 8px;
  margin-top: 8px;

  border: none;
  border-radius: 5px;
}

.contact--btn {
  width: 80%;
  height: 50px;
  margin: 24px;
  font-size: 24px;

  background-color: var(--lightest-purple);
  color: white;
  border: none;
  border-radius: 5px;
}

.contact--btn:hover {
  background-color: var(--light-purple);
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .header {
    display: flex;
    justify-content: center;
  }

  /* NAVIGATION */
  header {
    width: 100%;
  }

  .nav--list {
    justify-content: space-around;
  }

  .nav--list-item {
    padding: 0 8px;
    font-size: 14px;
  }

  /* INTRODUCTION PAGE */
  .intro--head {
    font-size: 28px;
  }

  .intro--para {
    margin: 24px;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
  }

  .intro--icon-list--item {
    margin: 0 12px;

    color: white;
    font-size: 32px;
  }

  .intro--icon-list--item {
    margin: 0 12px;
    font-size: 24px;
  }

  .intro--button {
    height: 30px;
    width: 30px;
  }

  .intro--button {
    margin: 48px;

    height: auto;
    width: auto;

    background-color: transparent;
    border: none;

    color: white;
    font-size: 20px;
  }

  /* ABOUT ME PAGE */

  .about-me--container {
    flex-direction: column;
    height: auto;
  }

  .about-me--head {
    font-size: 24px;
    text-align: center;
  }

  .about-me--para {
    font-size: 18px;
    text-align: center;
  }

  /* TECHNOLOGY STACK */
  .tech-stack--section {
    flex-direction: column;
  }

  .tech-stack--head {
    font-size: 20px;
    margin: 12px 0;
  }

  .tech-stack--para {
    min-width: 250px;

    font-size: 12px;
    margin: 24px;
  }

  .tech-stack--section-imgcon {
    flex-wrap: wrap;
    width: 100%;
  }

  .tech-stack--img {
    height: 7vh;
    width: auto;
  }

  .tech-stack--img-cap {
    font-size: 1.8vw;
  }

  /* PROJECTS */

  .projects--container {
    flex-direction: column;
  }

  .projects--project {
    flex-direction: column;
    width: 95%;
  }

  .projects--img {
    height: 20vh;
    width: auto;

    margin: 24px;

    border-radius: 5px;
  }

  .projects-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 12px auto;
  }

  /* CONTACT */

  .contact--head {
    font-size: 26px;
    padding: 8px;
  }

  .contact--para {
    max-width: 500px;
    font-size: 18px;
  }

  .contact--fieldset {
    width: 500px;
  }

  .contact--label {
    width: 100%;
    padding: 24px;
  }

  .contact--input {
    width: 100%;

    padding: 8px;
    margin-top: 8px;

    border: none;
    border-radius: 5px;
  }

  .contact--btn {
    height: 35px;
    margin: 24px;
    font-size: 18px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  /* NAVIGATION */
  .nav--list-item {
    font-size: 10px;
  }

  /* INTRODUCTION */

  .intro--head {
    font-size: 18px;
  }

  .intro--para {
    font-size: 16px;
  }

  .intro--icon-list--item {
    font-size: 20px;
  }

  .intro--button {
    height: 50px;
    width: 200px;

    font-size: 16px;
  }

  /* ABOUT ME */

  .about-me--container {
    flex-direction: column;
  }

  .about-me--head {
    font-size: 16px;
    text-align: center;
  }

  .about-me--para {
    display: none;
  }

  .about-me--img {
    height: 250px;
    width: auto;

    margin: 12px;
  }

  .about-me--download {
    font-size: 12px;
    text-align: center;
  }

  /*  TECH STACK */

  .tech-stack--section {
    display: flex;
    padding: 12px;
  }

  .tech-stack--para {
    display: none;
  }

  .tech-stack--head {
    font-size: 16px;
  }

  .tech-stack--section-img-item {
    margin: 0 12px;
  }

  /* PROJECTS */

  .projects--head {
    font-size: 16px;
  }

  .pojects--para {
    font-size: 12px;
  }

  .projects--img {
    display: none;
  }

  /* PROJECTS */
  .contact--head {
    font-size: 20px;
  }

  .contact--para {
    display: none;
  }

  .contact--fieldset {
    width: 300px;
    padding: 8px;
  }

  .contact--label {
    width: 100%;
    padding: 18px;
  }

  .contact--btn {
    height: 24px;
    margin: 28px;
    font-size: 14px;
    width: 95%;
  }
}
